.questions-container {
    background: rgb(193, 193, 204);
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 7rem;
}

.questions-content {
    background: white;
    border-radius: 8px;
    width: 70%;
    margin: 0 auto;
}

.questions-title {
    text-align: center;
    padding: 2rem;
}

.list-item {
    list-style: none;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.list-item:hover {
    background: #eee;
}

.question-text {
    font-size: 2rem;
}

.form-wrapper {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.question-input {
    font-size: inherit;
    padding: 0.2rem;
    width: 50%;
}

.add-button {
    font-size: inherit;
    padding: 0.2rem;
}

.delete-question-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0 0.7rem;
    position: absolute;
    right: 3rem;
    vertical-align: top;
}

.delete-question-button:hover {
    color: red;
}

.show {
    display: inline-block;
}

.modal-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    width: 40%;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.close-modal-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    top: 0.2rem;
    right: 0.7rem;
    cursor: pointer;
}

