.wrapper {
    padding: 1rem;
    text-align: center;
}

.button {
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color:#feffff;
	font-size: 1.5rem;
	font-weight: bold;
    padding: 8px 24px;
    box-shadow:inset 0px 1px 0px 0px #2152a1;
	background: linear-gradient(to bottom, #061f47 5%, #0e3779 100%);
}

.button:hover {
	background: linear-gradient(to bottom, #112f5f 5%, #1e4b92 100%);
}