
.listItem {
    cursor: pointer;
    list-style: none;
    padding: 20px;
    position: relative;
    background: #cae6f8;
}

.listItem:hover {
    background: #dcf0fc;
}

.questionText {
    font-size: 1.5rem;
}
