.container {
    background: rgb(193, 193, 204);
    bottom: 0;
    padding: 20px;
    position: absolute;
    top: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.content {
    background: white;
    border-radius: 8px;
    width: 45%;
}