
.listItem {
    cursor: pointer;
    list-style: none;
    padding: 20px;
    position: relative;
    background: #eee;
}

.listItem:hover {
    background: #ddd;
}

.questionText {
    font-size: 1.5rem;
}
