
.listItem {
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    padding: 20px;
    position: relative;
}

.listItem:hover {
    background: #eee;
}

.questionText {
    font-size: 1.5rem;
}
