.questions-container {
    background: rgb(193, 193, 204);
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 7rem;
}

.questions-content {
    background: white;
    border-radius: 8px;
    width: 70%;
    margin: 0 auto;
}