form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;

  input[type="text"] {
    height: 30px;
  }

  input h1,
  input {
    margin: 10px;
    resize: none;
  }

  textarea {
    visibility: hidden;
  }

  input[type="submit"] {
    width: 100px;
    padding: 10px;
    margin: 0 auto;
  }
}
