
.list-item {
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    padding: 20px;
    position: relative;
}

.list-item:hover {
    background: #eee;
}

.question-text {
    font-size: 1.5rem;
}
