
.list-item {
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    padding: 20px;
    position: relative;
}

.list-item:hover {
    background: #eee;
}

.question-text {
    font-size: 2rem;
}

.delete-question-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0 0.7rem;
    position: absolute;
    right: 3rem;
    vertical-align: top;
}

.delete-question-button:hover {
    color: red;
}