.listItem:nth-child(even) {
    background: white;
}

.listItem:nth-child(odd) {
    background: rgb(245, 245, 245);
}

.listItem {
    list-style: none;
    padding: 1rem;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

.favicon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.linkText {
    padding: 1rem;
    color: #1665aa;
    font-weight: 600;
    text-decoration: none;
}

.linkText:hover {
    color: darken(#014886, 10);
}

.closeButton {
    cursor: pointer;
    font-size: 1.8rem;
    position: absolute;
    top: 8px;
    right: 8px;
}

.closeButton:hover {
    color: red;
}